body{
  background: #000;
  margin: 24px;
  color:  #c4c4c4;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

a{
  color: #c4c4c4;
  text-decoration: none;
}

h1{
  font-size: 300%;
  line-height: 1;
}

#title_desc{
  font-size: 90%;
  margin-top: -20px;
}


/* - - - - - grid | container - - - - - - - - - - - - - - - - - - - - - - - - */
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1fr 0.5fr 1.3fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". title title title title ."
    ". . dropzone dropzone . ."
    ". . controls controls . ."
    ". datazone datazone datazone datazone .";
}

/* - - - - - grid | items - - - - - - - - - - - - - - - - - - - - - - - - - - */
.title {
  grid-area: title;
}

.dropzone {
  grid-area: dropzone;
}

#dropzone {
  border: 1px dashed #c4c4c4;
  border-radius: 20px;
  padding: 50px;
  background: #111;
  display: inline-block;
  font-size: large;
}

#dropzone.highlight {
  border: 2px solid #000;
  background: #0066cc;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "controls_start controls_settings";
  grid-area: controls;
}


.controls_start {
  grid-area: controls_start;
  display: flex;
  justify-content: right;
  align-items: center;
}

.controls_settings {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "controls_settings_plusminus"
    "controls_settings_seconds";
  grid-area: controls_settings;
}



.controls_settings_plusminus {
  grid-area: controls_settings_plusminus;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
}

.controls_settings_seconds {
  grid-area: controls_settings_seconds;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
}


/* - - - - - datazone - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.datazone {
  grid-area: datazone;
}

#datazone{
  background: #111;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px dashed #0066cc;
  border-radius: 10px;
}

#datazone_table_data_preview {
  font-weight: bold;
  color: #0066cc;
  text-align: left;
  font-family: monospace;
  font-size: large;
  table-layout: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
    display: none;
}

/* - - - - - display - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.display_name {
  grid-area: 2 / 1 / 3 / 7;
  z-index: -100;
  white-space: nowrap;
  padding:  15px;
}

#display_name{
  font-size: 600%;
  display: inline;
}

.display_grade {
  grid-area: 3 / 2 / 4 / 6;
  z-index: -100;
  white-space: nowrap;
  padding: 15px;
}

#display_grade{
  font-size: 600%;
  display: inline;
}

/* - - - - - display-control-box - - - - - - - - - - - - - - - - - - - - - - */
.display_control_box {
  text-align: left;
  line-height: 1.8;
  position: fixed;
  left: 25px; bottom: 0px;
  color:  #888;
  font-size: small;
}

/* - - - - - lizenz - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.license {
  text-align: right;
  line-height: 1.8;
  position: fixed;
  right: 25px; bottom: 15px;
  color:  #888;
  font-size: small;
}



/* - - - - - hide - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.hide{
  display: none;
}

.conceal{
  opacity: 0;
}

.filedropped{
  font-weight: bold;
  color: #0066cc;
}


/* - - - - - button - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.btn{
  width:  90px;
  height: 90px;
  margin: 16px;
  border-radius: 50%;
  border: none;
}

.btn_small{
  width:  64px;
  height: 64px;
  margin: 16px;
  border-radius: 50%;
  border: none;
}


.btn_start{
  color: white;
  background: #0066cc;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  border: 2px solid #fff;
}
.btn_start:hover{
  background: #208af5;
}

.btn_start_display{
  color: white;
  background: #0066cc;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  border: 2px solid #fff;
  padding-top: 2px;
}
.btn_start_display:hover{
  background: #208af5;
}

/* - - - - - checkbox - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Customize the label (the container) */
.checkbox_label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 60%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:36px;
  width: 36px;
  background-color: #111;
  border-radius: 50%;
  border: 1px solid white;
}

/* When the checkbox is checked, add a colored background */
.checkbox_label input:checked ~ .checkbox_checkmark {
  background-color: #0066cc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_label{
  padding-bottom: 10px;
}

/* Show the checkmark when checked */
.checkbox_label input:checked ~ .checkbox_checkmark:after {
  display: block;
}

/* Style the checkmark/indicator // Haken */
.checkbox_label .checkbox_checkmark:after {
  left: 12px;
  top: 5px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* - - - - - input field seconds - - - - - - - - - - - - - - - - - - - - - - */
.input_seconds{
  font-size: medium;
}
[type="number"]{
  background: #111;
  border: 1px solid white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: white;
  text-align: center;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


[type="number"]:invalid+span:after {
  content: '✖ [1-10]';
  padding-left: 5px;
  vertical-align: middle;
  color: red;
}

[type="number"]:valid+span:after {
  content: '';
  padding-left: 5px;
}
